* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.square {
    height: 16px;
    width: 16px;
    background-color: #1d1d1d;
    margin: 5px;
    transition: 2s ease;
    box-shadow: 0 0 2px #000;
}

.square:hover {
    transition-duration: 0s;
}

